*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
:root{
    --white-color: #fff;
    --black-color: #000;
    --coral-color: #7893d8;
    --blue-color: #0000ff;
    --silver-color: #d7d6d6;
    --bg-color:#223126aa;
}


.title {
    background-color: var(--bg-color);
    text-align: center;
    padding: 15px 0;
    font-size: 40px;
    color: #fff;
}
.main{
    display: grid;
    gap: 20px;
    grid-template-areas: 'p p p c';
}
.products {
    width: 930px;
    grid-area: p;
}
.products__title, .cart__title {
    padding: 15px 0;
    text-align: center;
    background-color: var(--white-color);
}
.products__items {
    padding: 15px 15px 40px 15px;
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px 15px;
    border-radius: 10px;
}
.product__item {
    width: 290px;
    padding: 8px 8px 15px 8px;
    background: var(--silver-color);
    position: relative;
    border-radius: 15px;
}
.product__item__img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
.product__item__img img{
    width: 100%;
    height: inherit;
    border-radius: 15px;
}
.product__item__name {
    margin-bottom: 15px;
}
.btn {
    padding: 10px 18px;
    background: var(--coral-color);
    color: var(--white-color);
    font-size: 14px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.abso-btn{
    position: absolute;
    right: 8px;
    bottom: 0;
    opacity: 0;
    transition: .3s;
}
.product__item:hover .abso-btn{
    opacity: 1;
    bottom: 15px;
}
.cart {
    grid-area: c;
    width: 330px;
}
.cart__items {
    padding: 10px;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    border-radius: 12px;
    height: 82vh;
    overflow-y: scroll;
}
.cart__item {
    width: 100%;
    padding: 8px;
    background: var(--silver-color);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}
.cart__item__img {
    width: 120px;
    height: 70px;
}
.cart__item__img img{
    width: inherit;
    height: inherit;
    border-radius: 8%;
}
.cart__item__info{
    text-align: end;
}
.remove-btn{
    background: var(--coral-color);
    padding: 7px;
    color: var(--white-color);
    border: none;
    font-size: 12px;

}
.remove-btn:hover{
    transform: scale(1.1, 1.1);
    transition: .3s;
    cursor: pointer;

}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    height: 61px;
    background-color: var(--silver-color);
    padding: 12px;
    border-radius: 8px;
}
